@charset "ISO-8859-1";

.img{
	background-image: url("../images/libri.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1950px 1760px;
}

.box{
	text-align: center;
	position: center;
	border: solid;
	border-color: #449D48;
	background-color: white;
	width: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #575757;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #449D48;
}

.serif {
  font-family: "Georgia", serif;
}

.italic{
  font-style: italic;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 90px;
   background-color: #575757;
   text-align: center;
   color: black;
   padding: 15px; 
}